version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    
    volumes:
      - ../..:/workspaces:cached
    
    command: sleep infinity
    
    depends_on:
      - db
    
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/gamesreview_development
    
    network_mode: service:db

  db:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gamesreview_development

volumes:
  postgres-data:
